.account-h1-progress-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.account-progress-wrap {
    display: flex;
}

.account-progress-bar {
    background-color: var(--dark-grey);
    border: solid 1px var(--light-grey);
    border-radius: 20px;
    height: fit-content;
    padding-left: 60px;
    margin-right: 15px;
}

.account-progress {
    background-color: var(--green);
    padding: 5px;
    border-radius: 20px;
    font-family: open-sans;
}

.account-progress-step {
    font-family: open-sans;
}

.account-nav-buttons-wrap {
    display: flex;
}

.account-nav-button {
    margin-right: 10px;
    background-color: var(--dark-grey);
    border-radius: 5px;
    padding: 10px 25px;
}

.account-container {
    background-color: var(--dark-grey);
}

/* Account */

.forms-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.user-details-form {
    display: flex;
    flex-direction: column;
    margin: 50px 30px;
}

.h2-form-account {
    margin-top: 20px;
    margin: 50px 30px;
}