.account-h1-progress-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.account-progress-wrap {
    display: flex;
}

.account-progress-bar {
    background-color: var(--dark-grey);
    border: solid 1px var(--light-grey);
    border-radius: 20px;
    height: fit-content;
    padding-left: 60px;
    margin-right: 15px;
}

.account-progress {
    background-color: var(--green);
    padding: 5px;
    border-radius: 20px;
    font-family: open-sans;
}

.account-progress-step {
    font-family: open-sans;
}

.account-nav-buttons-wrap {
    display: flex;
}

.account-nav-button {
    margin-right: 10px;
    background-color: var(--dark-grey);
    border: solid 2px var(--dark-grey);
    border-radius: 5px;
    padding: 10px 25px;
}

.account-container {
    background-color: var(--dark-grey);
    border: solid 1px var(--light-grey);
    padding: 20px;
}

/* Preferences */
#preferences-tab-open {
    background-color: var(--blue);
}

.settings-h2 {
    font-size: 20px;
    margin: 0;
}

.settings-warning {
    font-size: 15px;
}

.preferences-settings-wrap {
    display: flex;
    flex-wrap: wrap;
}

.preferences-settings-box1 {
    margin-right: 10%;
}

.bg-grey {
    background-color: var(--grey);
}

.cookie-settings-advanced {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 10px;
}

.cookie-settings-quick {
    display: grid;
}

/* Profile */
#profile-tab-open {
    background-color: var(--blue);
}

.user-info-wrap {
    margin-right: 10%;
}

.profile-user-info-container {
    margin-bottom: 1rem;
}

.user-img-wrap {
    margin-bottom: 20px;
}

.placeholder-user-img {
    font-size: 60px;
    padding: 15px;
    border: solid 1px var(--light-grey);
    color: var(--pink);
    border-radius: 20px;
}

.profile-user-info-container {
    background-color: var(--grey);
    padding: 20px;
    border-radius: 20px;
}

.activity-reviews-wrap {
    max-width: 700px;
}

.user-info-wrap {
    max-width: 800px;
}

@media(min-width: 850px) {
    .profile-info-wrap {
        display: flex;
    }
}

/* Account */
#account-tab-open {
    background-color: var(--blue);
}

.forms-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.user-details-form {
    display: flex;
    flex-direction: column;
    margin: 50px 30px;
}

.h2-form-account {
    margin-top: 20px;
    margin: 50px 30px;
}