.auction-main {
    background-image: url(/images/bg-img/background-stars.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 20vw;
    padding: 3rem 0 2rem 0;
}

.auction-display-wrap {
    display: grid;
    position: relative;
    grid-template-areas: "user    top     top"
                         "filter listing listing"
                         "filter listing listing"
                         "filter bottom   bottom";
    margin: 0 auto;
    padding: 20px;
    margin-top: 3%;
    background-image: linear-gradient(350deg, var(--dark-grey), var(--grey), var(--light-grey));
    border: 2px solid #BA7B4F;
    border-radius: 50px;
    width: fit-content;
    color: #BA7B4F;
}

.display-top {grid-area: top;}
.display-filter {grid-area: filter;}
.display-listing {grid-area: listing;}
.display-bottom {grid-area: bottom;}
.display-user {grid-area: user;}

/*_____________________________________ TOP */
.auction-h1-arrows-wrap {
    display: flex;
    justify-content: space-between;
    font-size: clamp(5px, 1vw, 20px);
}

.auction-h1 {
    color: #fff;
    margin: 0;
}

.action-arrow {
    padding-top: clamp(2.5px, 1vw, 5px);
    padding-bottom: clamp(2.5px, 1vw, 5px);
    padding-left: clamp(5px, 1.5vw, 10px);
    padding-right: clamp(5px, 1.5vw, 10px);
    margin-right: 10px;
    background-color: #540802;
    color: #BA7B4F;
    border: 1px solid #BA7B4F;
    border-radius: 5px;
    font-size: clamp(10px, 2vw, 20px);
    height: fit-content;
}

.auction-listing-container {
    padding: 5px;
}

/*_____________________________________ LISTING */
.auction-list-container {
    background-color: var(--dark-grey);
    min-height: 400px;
    width: 60vw;
    border: 1px solid #BA7B4F;
    border-radius: 10px;
    padding: 10px;
}

.auction-listing-headers {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    color: #fff;
    padding: 5px;
    font-size: clamp(8px, 2vw, 20px);
}

.auction-listing-wrap {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    font-size: clamp(8px, 2vw, 20px);
}

.auction-item-seller-wrap {
    display: flex;
    justify-content: space-between;
}

/*_____________________________________ FILTER */
.auction-filter-wrap {
    color: #fff;
    margin-top: 20%;
    font-size: clamp(8px, 2vw, 20px);
}

.ah-tag {
    padding: 5px;
}

/*_____________________________________ USER */
.auction-display-user-img-wrap {
    position: relative;
}

.auction-bg-img-wrap {
    position: absolute;
    top: -40px;
    left: -40px;
    background-color: var(--dark-grey);
    width: fit-content;
    border: 2px solid #BA7B4F;
    border-radius: 50%;
}

.user-img-placeholder {
    padding: 10px;
    font-size: clamp(40px, 6vw, 90px);
}

/*_____________________________________ BOTTOM */
.auction-lower-buttons-container {
    display: flex;
    justify-content: space-between;
}

.buy-sell-button-wrap {
    display: flex;
}

.auction-sell-games-link, .auction-buy-games-link {
    background-color: var(--dark-grey);
    padding-top: clamp(2.5px, 1vw, 5px);
    padding-bottom: clamp(2.5px, 1vw, 5px);
    padding-left: clamp(5px, 1.5vw, 20px);
    padding-right: clamp(5px, 1.5vw, 20px);
    border: solid 1px #BA7B4F;
    border-radius: 5px;
    font-size: clamp(5px, 2vw, 16px);
    margin-left: 10px;
    filter: drop-shadow(2px 3px 2px black);
    height: fit-content;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.auction-sell-games-link:hover, .auction-buy-games-link:hover {
    box-shadow: inset 0 4px 8px -3px #D9BB71;
    color: #D9BB71;
    border: solid 1px #D9BB71;
}

.Buyout-bid-buttons-wrap {
    display: flex;
}

.auction-bid-button, .auction-buyout-button {
    background-color: #540802;
    border: solid 1px #BA7B4F;
    font-size: clamp(5px, 2vw, 16px);
    border-radius: 5px;
    padding-top: clamp(2.5px, 1vw, 5px);
    padding-bottom: clamp(2.5px, 1vw, 5px);
    padding-left: clamp(5px, 1.5vw, 20px);
    padding-right: clamp(5px, 1.5vw, 20px);
    margin-right: 10px;
    height: fit-content;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*_____________________________________ RESPONSIVE < 900px*/
@media(max-width: 900px) {
    .display-filter {
        grid-area: bottom;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .auction-filter-wrap {
        margin-top: 50px;
        max-width: 250px;
    }
    .auction-display-wrap {
        padding: 40px;
    }
    .auction-bg-img-wrap {
        top: -65px;
        left: -65px;
    }
}

/*_____________________________________ RESPONSIVE < 620px*/
@media(max-width: 620px) {
    .auction-bg-img-wrap {
        top: -60px;
        left: -60px;
    }
    .auction-filter-wrap {
        margin-top: 50px;
        max-width: 190px;
    }
}

/*_____________________________________ RESPONSIVE < 400px*/
@media(max-width: 400px) {
    .auction-main {
        padding: 2rem 0 2rem 0;
    }
    .auction-bg-img-wrap {
        top: -55px;
        left: -55px;
    }
}