.auction-main {
    background-image: url(/images/bg-img/background-stars.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 20vw;
    padding: 3rem 0 2rem 0;
}

.auction-display-wrap {
    display: grid;
    grid-template-areas: "user    top     top"
                         "filter listing listing"
                         "filter listing listing"
                         "filter bottom   bottom";
    margin: 0 auto;
    padding: 20px;
    margin-top: 3%;
    /* background-image: linear-gradient(to right,var(--light-grey), var(--dark-grey)); */
    background-image: linear-gradient(350deg, var(--dark-grey), var(--grey), var(--light-grey));
    border: 2px solid #BA7B4F;
    border-radius: 50px;
    width: fit-content;
    color: #BA7B4F;
}

.display-top {grid-area: top;}
.display-filter {grid-area: filter;}
.display-listing {grid-area: listing;}
.display-bottom {grid-area: bottom;}
.display-user {grid-area: user;}

/*_____________________________________ TOP */
.auction-h1-arrows-wrap {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
}

.auction-h1 {
    color: #fff;
}

/*_____________________________________ LISTING */
.auction-list-container {
    background-color: var(--dark-grey);
    min-height: 400px;
    width: 60vw;
    border: 1px solid #BA7B4F;
    border-radius: 10px;
    padding: 10px;
}

.auction-listing-headers {
    display: flex;
    color: #fff;
    justify-content: space-between;
    padding: 5px;
}

/*_____________________________________ FILTER */
.auction-filter-wrap {
    color: #fff;
}

/*_____________________________________ USER */
.auction-display-user-img-wrap {
    position: relative;
}

.auction-bg-img-wrap {
    position: absolute;
    top: -40px;
    left: -40px;
    background-color: var(--dark-grey);
    width: fit-content;
    border: 2px solid #BA7B4F;
    border-radius: 50%;
}

.user-img-placeholder {
    padding: 10px;
    font-size: 50px;
}

/*_____________________________________ BOTTOM */
.auction-lower-buttons-container {
    display: flex;
    justify-content: space-between;
}

.buy-sell-button-wrap {
    display: flex;
}

.auction-sell-games-link, .auction-buy-games-link {
    background-color: var(--dark-grey);
    padding: 5px 20px;
    border: solid 1px #BA7B4F;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
    filter: drop-shadow(2px 3px 2px black);
}

.auction-sell-games-link:hover, .auction-buy-games-link:hover {
    box-shadow: inset 0 4px 8px -3px #D9BB71;
    color: #D9BB71;
    border: solid 1px #D9BB71;
}

.Buyout-bid-buttons-wrap {
    display: flex;
}

.auction-bid-button, .auction-buyout-button {
    background-color: #540802;
    border: solid 1px #BA7B4F;
    border-radius: 5px;
    padding: 5px 20px;
    margin-right: 10px;
    height: fit-content;
}