.contact-about-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--dark-grey);
    margin-top: 2rem;
}

.about-us {
    max-width: 900px;
    margin: 2rem;
}

.about-text {
    background-color: var(--grey);
    padding: 10px;
    margin-bottom: 2rem;
}

.contact-us {
    margin: 2rem;
    background-color: var(--grey);
    padding: 10px;
}

.phone-img {
    height: auto;
    width: 100%;
    border: 1px solid var(--silver-grey);
}

.contact-us-button {
    margin-left: 15px;
}

.consoll-img {
    height: auto;
    width: 100%;
    border: 1px solid var(--silver-grey);
}

/* from other file */
.error-form {
    color: var(--error);
    padding: 5px;
    font-weight: bold;
    margin: 0 0 5px 15px;
    display: none;
}

button {
    margin: 0 auto;
}

.form-success {
    display: none;
    font-family: ocra;
    font-size: 30px;
    margin: 20px;
    background-color: var(--green);
    padding: 10px;
    width: fit-content;
}
/* from other file ends */

@media(max-width: 850px) {
    .contact-about-wrap {
        grid-template-columns: 1fr;
    }
}