.contact-about-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--dark-grey);
    margin-top: 2rem;
}

.about-us {
    max-width: 900px;
    margin: 2rem;
}

.about-text {
    background-color: var(--grey);
    padding: 10px;
    margin-bottom: 2rem;
}

.contact-us {
    margin: 2rem;
    background-color: var(--grey);
}

.phone-img {
    height: auto;
    width: 100%;
    border: 1px solid var(--silver-grey);
}

.contact-text-padding {
    padding: 15px;
}

.contact-us-button {
    margin-left: 15px;
}

.consoll-img {
    height: auto;
    width: 100%;
    border: 1px solid var(--silver-grey);
}

@media(max-width: 850px) {
    .contact-about-wrap {
        grid-template-columns: 1fr;
    }
}