.form-grey {
    padding: 20px;
    border: solid 1px var(--grey);
    background-color: rgb(10, 10, 10);
    border-radius: 15px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin: 50px 30px;
}

.form-grey > input {
    padding: 5px;
    background-color: var(--grey);
    color-scheme: dark;
    border: solid 1px var(--grey);
}

.form-grey-input {
    padding: 5px;
    background-color: var(--grey);
    color-scheme: dark;
    border: solid 1px var(--grey);
}

.form-grey > label {
    padding: 5px;
    margin-top: 5px;
    font-size: 20px;
}

.form-submit {
    margin-top: 20px;
    color: #fff;
    width: fit-content;
}