header, footer {
    background-color: #0B0B0D;
    border: 2px solid #707070;
    padding: 0 20px;
}

header {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.logo-slogon-nav-wrap {
    display: flex;
    align-items: center;
}

.slogan {
    font-size: clamp(10px, 1vw, 15px);
    margin-left: 20px;
    width: clamp(5px, 100%, 140px);
}

.search-cart-profile-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

.nav-list {
    display: flex;
    font-family: ocra;
    margin-left: 10px;
    font-size: 14px;
}

/* NOT WORKING */
nav ul li.active-link>a {
    text-decoration: underline;
}
/* __________________________ */
.item {
    margin: 5px;
}

.search-bar {
    width: clamp(50px, 15vw, 400px);
    margin-right: 10px;
}

footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.media-icons {
    display: flex;
}

#img-logo {
    height: auto;
    width: clamp(100px, 80%, 220px);
    padding: 5px;
}

/*mobile hamburger menu hide/show*/
.item:hover {
    text-decoration: underline white;
}

@media (min-width: 850px) {#hamburger-icon {
    display: none;
}

nav {
    display: block !important;
}}

/* media query for big screen */
@media (min-width: 1300px) {
    .nav-list {
        font-size: 20px;
    }}

/* media query for smaal screen */
@media (max-width: 900px) {
    header, footer {
        padding: 0 5px;
    }}

@media (max-width: 850px) {

.item {
    border: solid 2px #707070;
    background-color: #16161A;
    padding: 10px 25px;
}

nav {
    display: none;
}

.nav-list {
    position: absolute;
    flex-direction: column;
    background-color: #0B0B0D;
    border-top: solid 2px #707070;
    right: 0;
    top: 100%;
}}