header, footer {
    background-color: #0B0B0D;
    border: 2px solid #707070;
    padding: 0 20px;
}

header {
    display: flex;
    justify-content: space-between;
}

.logo-slogon-nav-wrap {
    display: flex;
    align-items: center;
}

.slogan {
    font-size: clamp(10px, 1vw, 15px);
    margin-left: 20px;
    width: clamp(5px, 100%, 140px);
}

.search-cart-profile-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

#nav-list {
    display: flex;
}

.item {
    margin: 5px;
}

.search-bar {
    width: clamp(50px, 20vw, 500px);
    margin-right: 10px;
}

footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.media-icons {
    display: flex;
}

#img-logo {
    height: auto;
    width: clamp(100px, 80%, 220px);
    padding: 5px;
}

/*mobile hamburger menue hide/show*/
.item:hover {
    text-decoration: underline white;
}

@media (min-width: 850px) {#hamburger-icon {
    display: none;
}

nav {
    display: block !important;
}}

@media (max-width: 850px) {

.item {
    border: solid 1px #707070;
    background-color: #525255;
}

nav {
    display: none;
}

header, footer {
    padding: 0px;
}

#nav-list {
    position: absolute;
    flex-direction: column;
}}