.icon {
    font-size: 30px;
    padding: 10px;
}

#profile-icon {
    color: var(--pink);
}

#cart-icon {
    color: var(--blue);
}

@media (max-width: 850px) {


    .icon {
        font-size: clamp(15px, 4vw, 20px);
    }
    
    }