.icon {
    font-size: 30px;
    padding: 10px;
}

#profile-icon {
    color: var(--pink);
}

#cart-icon {
    color: var(--blue);
}

.action-button1, .action-button2, .action-button3 {
    padding: 5px 25px;
    margin: 5%;
    border-radius: 15px;
    border: solid 1px var(--light-grey);
    font-family: 'lovelo', 'impact', Arial, Helvetica, sans-serif;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.button-text-border {
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: var(--light-grey);
}

.action-button1 {
    background-image: linear-gradient(var(--blue), var(--dark-grey));
}

.action-button1:hover {
    background-image: linear-gradient(360deg, var(--blue), var(--dark-grey));
}

.action-button2 {
    background-image: linear-gradient(var(--pink), var(--dark-grey));
}

.action-button2:hover {
    background-image: linear-gradient(360deg, var(--pink), var(--dark-grey));
}

.action-button3 {
    background-image: linear-gradient(var(--green), var(--dark-grey));
}

.action-button3:hover {
    background-image: linear-gradient(360deg, var(--green), var(--dark-grey));
}

@media (max-width: 850px) {


    .icon {
        font-size: clamp(15px, 4vw, 20px);
    }
    
    }