.index-box-wrapper {
    display: grid;
    grid-template-rows: 1fr 1.7fr;
}

.welcomebox-one {
    background-image: url(/images/half-open-laptop.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.welcomebox-two {
    padding: 30px;
    margin: 0 60px;
    background-image: linear-gradient(var(--dark-grey), var(--grey));
}

.counter-container {
    display: flex;
    margin-bottom: 1rem;
}

.counter-number-box {
    background-color: var(--dark-grey);
    padding: 10px;
    border: solid 1px var(--light-grey);
    border-radius: 5px;
    margin: 5px;
}

.index-h2-counter-button-wrap {
    margin-bottom: 4rem;
}

.online-players {
    margin: 1rem 0 2rem 0;
}

.justplay-link {
    display: flex;
    align-items: baseline;
}

.index-button-wrap {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.index-button-wrap > a {
    margin: 5%;
}

@media (min-width: 950px) {
    .index-box-wrapper {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }}

@media (max-width: 1400px) {
    .welcomebox-two {
        margin: 0;
    }
    .index-info-text-wrap {
        margin-bottom: 1rem;
    }}