main {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.welcomebox-one {
    background-image: url(/images/half-open-laptop.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 500px;
}

.welcomebox-two {
    padding: 30px;
    margin: 0 60px;
    background-image: linear-gradient(var(--dark-grey), var(--light-grey));
}

.text-green {
    color: var(--green);
}

.justplay-link {
    display: flex;
    align-items: baseline;
}

.index-button-wrap {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

@media (min-width: 850px) {
    main {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }}

@media (max-width: 850px) {
    .welcomebox-two {
        margin: 0;
    }}