@import url(/css/header-footer.css);
@import url(/css/index.css);
@import url(/css/icons-buttons.css);
@import url(/css/forms.css);
@import url(/css/auction.css);
@import url(/css/account-layout.css);

@font-face {
    font-family: 'open-sans', sans-serif, 'Source Code Pro', monospace ; 
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
}

@font-face {
    src: url(/fonts/lovelo/Lovelo-Black.otf);
    font-family: lovelo-black;
}

@font-face {
    src: url(/fonts/ocr-a-std/OCRAStd.otf);
    font-family: ocra;
}

:root {
    --blue: #6277E3;
    --pink: #A5358F;
    --green:#3FA535;
    --light-grey: #707070;
    --grey: #16161A;
    --dark-grey: #0B0B0D;
}

.text-margin-1rem {
    margin-bottom: 1rem;
}

.text-margin-2rem {
    margin-bottom: 2rem;
}

.text-green {
    color: var(--green);
}

.text-blue {
    color: var(--blue);
}

.text-light-grey {
    color: var(--light-grey);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

body {
    background-color: var(--grey);
    color: #fff;
    margin: 0 2%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    color: #fff;
    text-decoration: none;
}

h1, h2, p {
    font-family: 'ocra', sans-serif;
}

h1, h2 {
    font-weight: 100;
}

h1 {
    margin-bottom: 3rem;
}

h2 {
    margin-bottom: 2rem;
}

h3 {
    font-family: 'ocra', sans-serif;
}

@media (max-width: 900px) {


body {
    margin: 0;
}}