@import url(/css/header-footer.css);
@import url(/css/index.css);
@import url(/css/icons-buttons.css);

body {
    background-color: #16161A;
    color: #fff;
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

ul {
    list-style-type: none;
}

a {
    color: #fff;
    text-decoration: none;
}