.store-main {
    display: flex;
    justify-content: center;
}

.store-h1 {
    color: var(--silver-grey);
    margin: 10px 10px 70px 10px;
}

.store-h1-tags-wrap {
    background-color: var(--dark-grey);
    border: solid 1px var(--silver-grey);
    border-radius: 10px;
    margin: 30px 0 5px 0;
}

.store-tags {
    color: var(--silver-grey);
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
}

.glow:hover {
    text-shadow: 5px 5px 30px var(--silver-grey);
    cursor: pointer;
}

.game-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 20px;
}

.card {
    color: var(--silver-grey);
    margin: 20px;
}

.card-styling {
    background-color: var(--dark-grey);
    border: solid 1px var(--silver-grey);
    border-radius: 5%;
    max-width: 400px;
    height: 400px;
    margin: 10px;
}

.card-styling:hover {
    box-shadow: 5px 5px 30px var(--silver-grey);
}

.card-img {
    height: auto;
    width: 100%;
    display: block;
}

.card-bg-img {
    min-height: 200px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.store-card-name {
    padding: 10px;
    margin: 0;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    background-color: var(--grey);
}

.store-card-info {
    color: var(--green);
    padding: 5px;
    margin: 0;
}

/* Notifications */
.addedcart-message {
    font-size: 30px;
    margin-bottom: 40px;
    border: solid 1px var(--green);
    padding: 5px;
    color: var(--green);
    display: none;
}

.remove-fromcart {
    display: none;
}

/* Details page */
.store-details-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0px;
}

.detail-img {
    max-height: 450px;
    border: solid 1px var(--silver-grey);
}

.detail-card {
    max-width: 1000px;
}

.details-bg {
    margin: 2rem 0;
}

.detail-info-text-wrap {
    padding: 1rem;
}

#details-buy-button {
    margin-left: 1rem;
}

.cart-back-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--dark-grey);
}

.add-to-cart-wrap, .arrow-back {
    display: flex;
    align-items: center;
    color: var(--green);
    padding-right: 4rem;
}

.add-to-cart {
    background-color: var(--dark-grey);
    border: 0px;
    color: var(--green);
    cursor: pointer;
}

.review-container {
    background-color: var(--dark-grey);
    width: fit-content;
    padding: 0 1rem;
}

.review-placeholder {
    border: solid 1px var(--silver-grey);
    background-color: var(--grey);
    padding: 10px;
    margin-bottom: 1rem;
}

.review-thumbs-wrap {
    display: flex;
    justify-content: space-between;
}

.thumbs-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.form-review {
    margin: 2rem 0;
}

#input-review {
    width: 100%;
    min-height: 150px;
    margin: 10px 0 2rem 0;
    background-color: var(--grey);
    border: solid 1px var(--silver-grey);
    color-scheme: dark;
}

.review-submit {
    background-color: var(--dark-grey);
}

@media(max-width: 1900px) {
    .game-cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(max-width: 1300px) {
    .game-cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 850px) {
    .store-details-wrap {
        display: flex;
        flex-direction: column;
    }
}

@media(max-width: 600px) {
    .game-cards {
        grid-template-columns: 1fr;
    }
}