.game-cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    color: var(--green);
    margin: 20px;
}

.card-styling {
    background-color: var(--dark-grey);
    border: solid 1px var(--green);
    max-width: 500px;
}

.card-img {
    height: auto;
    width: 100%;
}

.detail-img {
    max-height: 550px;
}

.detail-card {
    background-color: var(--dark-grey);
    margin: 2% 0;
}