.store-h1 {
    margin-top: 1em;
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.store-h1 {
    display: flex;
    justify-content: center;
}

.sale-wrap {
    background-color: #0b0b0d;
    min-height: calc(100vh + 350px);
    flex-direction: column;
    justify-content: space-between;
}

.special-wrap {
    background-color: #0b0b0d;
    min-height: calc(100vh + 350px);
    flex-direction: column;
    justify-content: space-between;
}

.store-h2 {
    margin-top: 1em;
    display: inline-block;
}

#green-arrow {

    margin-inline: 20px;
}
.main-store-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 7em;
    margin-top: 5em;
}

.auction-arrow-wrap {
    display: flex;
}

.img-gamecover {
    height: auto;
    width: 100% 100%;
}

.info-cart-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

@media (max-width: 900px) {.img-gamecover {
    height: auto;
}
.main-store-box {
    display: flex;
    flex-direction: column;
}}

@media (max-width: 900px) {.special-wrap, .sale-wrap {
    display: none;
}}
