.game-cards {
    margin: 30px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
}

.card {
    color: rgb(192, 213, 223);
    margin: 20px;
}

.card-styling {
    background-color: var(--dark-grey);
    border: solid 1px rgb(192, 213, 223);
    max-width: 500px;
}

.card-img {
    height: auto;
    width: 100%;
}

.detail-img {
    max-height: 450px;
}

.detail-card {
    background-color: var(--dark-grey);
    padding: 2rem;
}

.add-to-cart {
    color: var(--green);
    display: flex;
    align-items: center;
}