.store-h1 {
    margin-top: 1em;
    font-size: 3em;
    color: #3FA535;
}

.store-h2 {
    font-size: 1.2em;
    width: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
}

.store-h3 {
    font-family: 'open-sans', sans-serif;
    font-size: 2em;
    margin-bottom: 1em;
    color: #3FA535;
}

.store-h3 + p {
    margin-bottom: 1em;
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.store-h1 {
    display: flex;
    justify-content: center;
}

.sale-wrap {
    background-color: #0b0b0d;
    border: solid 1px #3FA535;
    height: fit-content;
    padding: 1em;
    flex-direction: column;
    justify-content: space-between;
}

.special-wrap {
    background-color: #0b0b0d;
    border: solid 1px #3FA535;
    height: fit-content;
    padding: 1em;
    flex-direction: column;
    justify-content: space-between;
}

.main-store-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 7em;
    margin-top: 5em;
}

.img-gamecover {
    height: auto;
    width: 100% 100%;
}

.info-cart-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.game {
    background-color: #0b0b0d;
    border: solid 1px #3FA535;
}

.store-filters {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'ocra', sans-serif;
    font-size: 1em;
    margin: 1em;
    margin-bottom: 5em;
}

.button-text {
    font-family: 'lovelo', Arial, Helvetica, sans-serif;
    padding: 10px 15px;
    text-align: center;
    border: solid 1px #3FA535;
}

@media (max-width: 1300px) {.img-gamecover {
    height: auto;
}
.main-store-box {
    display: flex;
    flex-direction: column;
}
.special-wrap, .sale-wrap {
    display: none;
}}

@media (min-width: 1300px) {
#sale-sign {
    display: none;
}}
