.game-cards {
    margin: 30px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
}

.card {
    color: var(--silver-grey);
    margin: 20px;
}

.card-styling {
    background-color: var(--dark-grey);
    border: solid 1px var(--silver-grey);
    max-width: 500px;
}

.card-img {
    height: auto;
    width: 100%;
}

/* Details page */
.store-details-wrap {
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    column-gap: 0px;
}

.detail-img {
    max-height: 450px;
}

.detail-card {
    border: solid 1px rgb(192, 213, 223);
    max-width: 1000px;
}

.details-bg {
    background-color: var(--dark-grey);
    padding: 2rem;
}

.cart-back-wrap {
    display: flex;
}

.add-to-cart, .arrow-back {
    display: flex;
    align-items: center;
    color: var(--green);
    background-color: var(--dark-grey);
    padding: 5px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 2rem;
    border-top: solid 1px rgb(192, 213, 223);
}

.arrow-back {
    margin-right: 1rem;
}

.review-container {
    border: solid 1px var(--silver-grey);
    width: fit-content;
}

@media(max-width: 850px) {
    .store-details-wrap {
        display: flex;
        flex-direction: column;
    }
}