.store-h1 {
    margin-top: 1em;
    font-size: 2.2em;
    color: #3FA535;
}

.store-h2 {
    font-size: 1.2em;
    width: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
}

.store-h3 {
    font-family: 'open-sans', sans-serif;
    font-size: 2em;
    margin-bottom: 1em;
    color: #3FA535;
}

.store-h3 + p {
    margin-bottom: 1em;
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.store-h1 {
    display: flex;
    justify-content: center;
}

.sale-wrap {
    background-color: #0b0b0d;
    border: solid 1px #3FA535;
    height: fit-content;
    padding: 1em;
    flex-direction: column;
}

.special-wrap {
    background-color: #0b0b0d;
    border: solid 1px #3FA535;
    height: fit-content;
    padding: 1em;
    flex-direction: column;
    justify-content: space-between;
}

.main-store-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4em;
    margin-top: 5em;
}

.info-cart-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.game {
    background-color: #0b0b0d;
    border: solid 1px #3FA535;
    margin-bottom: 2em;
}

.store-filters {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'ocra', sans-serif;
    font-size: 1em;
    margin: 1em;
    margin-bottom: 5em;
}

.button-buy {
    font-family: 'lovelo', Arial, Helvetica, sans-serif;
    padding: 10px 15px;
    text-align: center;
    border: solid 1px #3FA535;
    background-color: #16161A;
}

.auction-info {
    padding: 1em;
}
#gamer-name {
    color: #5C70D5;
    margin: 0.2em 0 0.2em 0;
}

#price {
    color: #3FA535;
}

@media (max-width: 1300px) {.img-gamecover {
    height: auto;
}
.main-store-box {
    display: flex;
    flex-direction: column;
}
.special-wrap, .sale-wrap {
    display: none;
}}

@media (min-width: 1300px) {
#sale-sign {
    display: none;
}}

/* game info page */
.game-info-wrap {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.1fr 2fr 0.5fr;
    margin: 1em;
}
.game-info-text-wrap {
    grid-column: 2;
    display: flex;
    background-color: #0B0B0D;
    border: solid 1px #707070;
    max-width: 800px;
}

.trailer-wrap {
    grid-column: 4;
    background-color: #0B0B0D;
    border: solid 1px #707070;
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 800px;
}

.trailer {
    border: solid 1x #3FA535;
    max-height: 200px;
    max-width: 200px;
}

.cyberpunk-info {
    max-width: 170px;
    width: fit-content;
}

#add-to-cart-button-info {
    margin-top: 2em;
}

@media (max-width: 1300px) {
    .game-info-wrap {
        display: flex;
        flex-direction: column;
    }
    .trailer-wrap {
        margin-top: 4em;
    }
    .trailer-wrap, .game-info-text-wrap {
        width: min(100%, 700px);
        margin-inline: auto;
    }}

/* library */
#library-h1 {
    color: #3FA535;
}

.library-container {
    height: fit-content;
    width: fit-content;
    border: solid #3FA535;
    padding: 3em;
    margin: 1em;
}