*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'open-sans', sans-serif; /*Add lovelo and figure out how to apply costum font/*/
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
}

h1, h2, h3, p {
    color: white;
}

.slogan {
    font-family: 'open-sans' sans-serif;
    margin-left: 10px;
}

  body {
    background-color: #16161a;
    font-family:'open-sans'
}

header {
    background-color: #0b0b0d;
    border: solid 1px #707070;
    display: flex;
    align-items: center;
    max-height: 142px;
}

.logo {
    max-height: 139px;
    max-width: 224px;
    margin-left: 10px;
}

ul {
    list-style-type: none;
}

.topnav {
    margin-left: 10px;
    max-width: 100%;
}

nav {
    border: rgb(71, 132, 143) solid 1px;
    display: inline-block;
}

nav li {
    display: inline-block;
    margin: 0px;
}
nav li:hover {
    font-weight:bolder;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.box-wrapper {
    display: flex;
    height: 759px;
    flex-direction: column;
}

@media (min-width: 600px) {.box-wrapper {flex-direction: row;}}

.welcomebox_one {
    background-image: url(../images/pexels-photo-2047905.png); /*try crop bottom of pic away/*/
    background-repeat: no-repeat;
    background-size: 100% 100%; /*Is there a bether way to do this? (responsive bg pic) /*/
    max-width: 890px;
    min-width: 350px;
    min-height: 500px;
    flex-grow: 3;
    border: solid 2px rgb(202, 146, 207);
}

.welcomebox_two {
    background-image: linear-gradient(#16161A,#707070);
    flex-grow: 4;
    min-height: 500px; /*Why is box2 shorter than box1 /*/
    min-width: 250px;
    margin-left: 3%;
    margin-right: 3%;
    border: solid 2px rgb(202, 146, 207);
}

/*@media (min-width: 600px) {.welcomebox_two {margin: 0;}} this dont work as intended/*/

.welcometext {
    margin:10px 60px; 
    font-size: 20px;
    text-align: center left;/*Find a way to have text centered AND on the left consistently/*/
    border: solid 1px rgb(147, 233, 67);
}

.online-players {
    font-size: 3rem;
    margin: 8%;
    text-align: center;
    border: solid 1px rgb(147, 233, 67);
}
.button-homepage1, .button-homepage2 { /*merge into one button class/*/
    background-color: #16161A;
    border: solid 2px white;
    width: 10%;
    height: 5%;
    padding: 2% 4%;
    font-size: 1.5rem;
    margin: 5%;
}

.center-buttons {
 border: solid 1px white;
 text-align: center;
 position: relative;
 top: auto;
}

@media (min-width: 600px) {.button-homepage1 .button-homepage2 {
width: 5%;
height: 2%;
font-size: 15px;
}}