*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

:root {
    --clr-primary: #16161a;
    --clr-primary-dark: #0b0b0d;
    --clr-grey: #707070;
    --clr-green: #3fa535;
    --clr-lightgreen: #BDDBC7;
}

@font-face {
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
    font-family: open-sans;
}

@font-face {
    src: url(/fonts/lovelo/Lovelo-Black.otf);
    font-family: lovelo-black;
}

@font-face {
    src: url(/fonts/ocr-a-std/OCRAStd.otf);
    font-family: ocra;
}

h1, h2, h3, p, a {
    color: white;
}

a {
    font-family: 'open-sans', sans-serif;
    text-decoration: none;
}

h1 h2 p {
    font-family: 'ocra', sans-serif;
}

header {
    background-color: var(--clr-primary-dark);
    border: solid 1px var(--clr-grey);
}

body {
    background-color: var(--clr-primary);
}

.header-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slogan {
    font-family: 'ocra', sans-serif;
    font-size: 1em;
    align-self: flex-end;
    margin-bottom: 1.5em;
}
.media-icons {
    display: flex;
}

li {
    display: inline-block;
}

#search-text {
    font-family: 'open-sans', sans-serif;
    color: white;
}

#cart-icon {
    margin-bottom: -20px;
}
/*mobile hamburger menue hide/show*/
#hamburger-icon {
    justify-self: flex-end;
    margin-bottom: -3em;
}

nav {
    display: none;
}

#hamburger-menu {
    display: none;
}

#hamburger-menu:checked ~ #nav-placement {
    display: flex;
    margin-bottom: 0.5em;
    font-size: 1.5em;
    margin-bottom: -70%;
    margin-left: -18%;
}

@media (min-width: 800px) {#hamburger-icon {
    display: none;
}}

@media (min-width: 800px) {nav {
    display: flex;
    font-family: 'open-sans', sans-serif;
    font-size: 1.5em;
}}

@media (max-width: 800px) {.item {
    border: solid 1px #707070;
    background-color: #525255;
    display: inline-block;
    margin-bottom: 0.5em;
    min-width: 100px;
}}*

/*
@media (max-width: 800px) {#hamburger-menu:checked ~ #nav-placement, .item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
    border: solid 1px #707070;
    font-size: 1.5em;
}}*/

/*.item {  
    border: solid 1px #707070;
    background-color: #525255;
    display: inline-block;
    margin-bottom: 0.5em;
    min-width: 100px; 
} */