@font-face {
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
    font-family: open-sans;
}

@font-face {
    src: url(/fonts/lovelo/Lovelo-Black.otf);
    font-family: lovelo-black;
}

@font-face {
    src: url(/fonts/ocr-a-std/OCRAStd.otf);
    font-family: ocra;
}

h1, h2, h3, p {
    color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

h1 h2 p {
    font-family: 'ocra', sans-serif;
}

header {
    background-color: #0b0b0d;
    border: solid 1px #707070;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 0fr 2fr;
    position: relative;
}

body {
    background-color: #16161a;
}

.logo {
    grid-row: 1;
    grid-column: 1;
}

#img-logo {
    height: auto;
    width: 150px;
}

.slogan {
    font-family: 'ocra', sans-serif;
    max-width: 150px;
    max-height: 10px;
    font-size: 0.8em;
    grid-column: 2;
    grid-row: 1;
    margin: 4em 0 0 1.4em;
}

.search {
    grid-column: 2;
    grid-row: 1;
    margin: 0.6em 1em;
}

#search-text {
    font-family: 'open-sans', sans-serif;
    color: white;
    font-weight: bold;
}

.social-media {
    display: flex;
    justify-content: flex-end;
    grid-column: 5;
    grid-row: 1;
}

#media-icon {
    height: auto;
    width: 15px;
    margin: 0.3em;
}

li {
    display: inline-block;
}

#hamburger-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin-right: 2em;
}

.cart {
    grid-row: 1;
    grid-column: 5/5;
    margin-top: 3.2em;
    margin-left: 2.5em;
}

/*mobile hamburger menue hide/show*/

nav {
    display: none;
}

#hamburger-menu {
    display: none;
}

#hamburger-menu:checked ~ .top-nav {
    display: flex;
    margin-bottom: 0.5em;
    font-size: 1.5em;
    margin-top: 2em;
    margin-left: -50%;
}

.item {
    font-family: 'open-sans', sans-serif;
}

.item:hover {
    text-decoration: underline white;
}

@media (min-width: 850px) {#hamburger-icon {
    display: none;
}

header {
    grid-template-columns: 1fr 1fr 3fr 3fr 1fr;
}

#img-logo {
    height: auto;
    width: 220px;
}

.nav-placement {
    grid-row: 1/2;
    grid-column: 3;
}

nav {
    display: flex;
    font-size: 1em;
    grid-template-columns: 3;
    font-size: 1.5em;
    padding: 1em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    max-height: 100px;
}

.slogan {
    grid-column: 2;
    grid-row: 1;
    margin: 2em 0 0 0.5em;
    font-size: 1.3em;
}

.search {
    grid-column: 4;
    margin-top: 3em;
}

#media-icon {
    width: 25px;
    margin: 0.5em;
}}

@media (max-width: 850px) {.cart {
    display: none;
}

.item {
    border: solid 1px #707070;
    background-color: #525255;
    margin-bottom: 0.5em;
    min-width: 110px;
}

#nav-list {
    position: absolute;
    margin-top: 10%;
    margin-left: -25%;
    padding: 1em;
    max-width: 180px;
}}

@media (min-width: 950px) {.cart {
    margin-left: 10em;
}}