*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

@font-face {
    font-family: 'open-sans', sans-serif, 'Source Code Pro', monospace ; 
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
}

@font-face {
    src: url(/fonts/lovelo/Lovelo-Black.otf);
    font-family: lovelo-black;
}

@font-face {
    src: url(/fonts/ocr-a-std/OCRAStd.otf);
    font-family: ocra;
}

h1, h2, h3, p {
    color: white;
}

h1 {
    font-family: 'lovelo', Arial, Helvetica, sans-serif;
}

h2, p {
    font-family: 'ocra', sans-serif;
}

body {
    background-color: #16161a;
    font-family:'open-sans'
}

/*Homepage/*/
.box-wrapper {
    display: flex;
    height: 759px;
    flex-direction: column;
    min-height: calc(100vh - 130px);
}

.welcomebox_one {
    background-image: url(../images/half-open-laptop.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 890px;
    min-width: 350px;
    min-height: 500px;
    flex-grow: 2;
}

.welcomebox_two {
    background-image: linear-gradient(#16161A,#707070);
    flex-grow: 4;
    min-height: 500px;
    min-width: 250px;
    margin-left: 3%;
    margin-right: 3%;
}

.welcometext {
    margin:10px 60px; 
    font-size: 20px;
    text-align: center left;
}

.online-players {
    font-size: 3rem;
    margin: 8%;
    text-align: center;
    font-family: 'lovelo', arial;
}
.button-homepage1, .button-homepage2 {
    background-color: #16161A;
    border: solid 2px white;
    width: 10%;
    height: 5%;
    padding: 2% 4%;
    font-size: 1.5rem;
    margin: 5%;
    font-family: lovelo-black;
}

.center-buttons {
 text-align: center;
 position: relative;
 top: auto;
}

#welcome, #justplay {
    color: #BDDBC7;
}

.download-app {
    font-size: 1.5rem;
    margin-top: 2rem;
}

#justplay {
    display: flex;
    flex-direction: row;
    font-weight: bold; 
}

#icon-googleplay {
    margin-left: 6em;
}

.download-options {
    display: flex;
}

.icon-mac-windows-wrap {
    margin-top: 7em;
}

#icon-windows, #icon-mac {
    margin: 3em;
}

@media (min-width: 800px) {.button-homepage1 .button-homepage2 {
    width: 5%;
    height: 2%;
    font-size: 15px;
}

.box-wrapper {
    flex-direction: row;}

#icon-googleplay {
    display: none;
    }}

@media (max-width: 800px) {#icon-windows, #icon-mac {
        display: none;
        }}

/* about page */
#about {
    display: flex;
    justify-content: center;
}
.about-box-wrap {
    display: flex;
    background-color: #0B0B0D;
    width: fit-content;
    justify-self: center;
    margin-top: 5em;
}

.about-text {
    font-family: 'ocra', serif;
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

#p-about {
    padding: 1em;
}

.phone-img {
    height: auto;
    width: 100%;
    padding: 1em;
    min-width: 350px;
}

.img-phone-wrap {
    align-self: center;
}

@media (max-width: 1000px) {.about-box-wrap {
    flex-direction: column;
}

.about-box-wrap {
    margin: 1em;
}}

/* account page */
.container-box1-2 {
    display: flex;
    border: solid 1px #707070;
    padding: 1em;
    margin: 10px;
    width: fit-content;
}

#account-h3 {
    font-size: 2em;
}
.account-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1em;
    margin-top: 1em;
    background-color: #000000;
    padding: 1em;
    border: solid 1px #3FA535;
}

.style-first-word {
    color: #3FA535;
    grid-template-columns: 1;
    font-size: 1em
}

.style-second-word {
    grid-template-columns: 2;
}

.account-box1, .account-box2 {
    margin: 2em;
}

.account-box3 {
    display: flex;
    flex-direction: row;
    margin: 2em;
}

.account-grid-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2em;
}

#style-sell-header {
    color: #3FA535;
    width: fit-content;
    margin: 2em 0 2em 1em;
}

.h3-pen-icon-wrap {
    display: flex;
    justify-content: space-between;
}

.payment-icon {
    margin: 1em;
}

.saved-payment-pen-wrap {
    display: flex;
    justify-content: space-between;
}

#pen {
    padding: 1em;
}

.saved-payment1-4-wrap {
    border: solid 1px #707070;
    padding: 1em;
}
.saved-payment1, .saved-payment3 {
    background-color: #0B0B0D;
}

@media (max-width: 900px) {
    .account-grid-box {
        grid-template-columns: 1fr;
    }
    .container-box1-2 {
        flex-direction: column;
    }

.account-box1 {
    max-width: 400px;
}}