*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --clr-primary: #16161a;
    --clr-primary-dark: #0b0b0d;
    --clr-grey: #707070;
    --clr-green: #3fa535;
    --clr-lightgreen: #BDDBC7;
}

@font-face {
    font-family: 'open-sans', sans-serif, 'Source Code Pro', monospace ; 
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
}

@font-face {
    src: url(/fonts/lovelo/Lovelo-Black.otf);
    font-family: lovelo-black;
}

@font-face {
    src: url(/fonts/ocr-a-std/OCRAStd.otf);
    font-family: ocra;
}

h1, h2, h3, p {
    color: white;
}

h1 h2 p {
    font-family: 'ocra', sans-serif;
}

header {
    background-color: #0b0b0d;
    border: solid 1px #707070;
}

body {
    background-color: #16161a;
    font-family:'open-sans'
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
/*Horizontal- and hamburger menu/*/
nav {
    display: none;
}

.item2:hover, .item:hover {
    text-decoration: underline;
}

#hamburger-menue:checked ~ nav {
    display: block;
}

#hamburger-menue {
    display: none;
}

.hide_show-hamburger {
    margin-left: 95%;
}

#hamburger-icon {
    margin-top: -100%;
}

#vertical-list {
    margin-left: 70%;
}

ul {
    list-style-type: none;
    
}

#vertical-list > li {
    margin: 0em 0.5em 0.5em 0em;
}

li + .item2 {
    background-color: #525255;
    font-size: 2em;
    border: solid 1px #707070;
}

#show-horizontal-list li {
    background-color: #0B0B0D;
    display: inline;
    margin: 0.5em;
    font-size: 1.5em;
}

@media (min-width: 800px) {.hide_show-hamburger {
    display: none;
}}

@media (min-width: 800px) {#show-horizontal-list {
    display: block;
}}

@media (max-width: 800px) {.cart-button {
    display: none;
}}

/*Header layout/*/
.header-elements {
    display: flex;
    align-items:center;
}

.topnav-icons-search-wrap {
    display: flex;
    align-items: center;
}

#media-icons {
    display: flex;
    flex-direction: row;
    margin-top: -35%;
    
}

#media-icon {
    margin-left: 1em;
    height: auto;
    width: 1.5em;
}

.slogan, p {
    font-size: 1.1em;
    color: white;
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
}

#gamehub-logo{
    display: block;
    width: 100%;
    max-width: 250px;
    height: auto;
}

.wrap-search-slogan {
    align-self: flex-end;
    margin-left: 1em;
}
/*body layout/*/
.box-wrapper {
    display: flex;
    height: 759px;
    flex-direction: column;
}

@media (min-width: 800px) {.box-wrapper {flex-direction: row;}}

.welcomebox_one {
    background-image: url(../images/half-open-laptop.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 890px;
    min-width: 350px;
    min-height: 500px;
    flex-grow: 2;
}

.welcomebox_two {
    background-image: linear-gradient(#16161A,#707070);
    flex-grow: 4;
    min-height: 500px;
    min-width: 250px;
    margin-left: 3%;
    margin-right: 3%;
}

.welcometext {
    margin:10px 60px; 
    font-size: 20px;
    text-align: center left;
}

.online-players {
    font-size: 3rem;
    margin: 8%;
    text-align: center;
    font-family: 'lovelo', arial;
}
.button-homepage1, .button-homepage2 {
    background-color: #16161A;
    border: solid 2px white;
    width: 10%;
    height: 5%;
    padding: 2% 4%;
    font-size: 1.5rem;
    margin: 5%;
    font-family: lovelo-black;
}

.center-buttons {
 text-align: center;
 position: relative;
 top: auto;
}

#welcome, #justplay {
    color: #BDDBC7;
}

.download-app {
    font-size: 1.5rem;
    margin-top: 2rem;
}

#justplay {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    
}

#icon-googleplay {
    margin-left: 6em;
    margin-top: -1em;
}

.download-options {
    display: flex;
}

.icon-mac-windows {
    margin: 3em;
}

@media (min-width: 800px) {.button-homepage1 .button-homepage2 {
width: 5%;
height: 2%;
font-size: 15px;
}}

@media (min-width: 800px) {#icon-googleplay {
    display: none;
    }}

    @media (max-width: 800px) {.icon-windows, .icon-mac {
        display: none;
        }}