*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

:root {
    --clr-primary: #16161a;
    --clr-primary-dark: #0b0b0d;
    --clr-grey: #707070;
    --clr-green: #3fa535;
    --clr-lightgreen: #BDDBC7;
}

@font-face {
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
    font-family: open-sans;
}

@font-face {
    src: url(/fonts/lovelo/Lovelo-Black.otf);
    font-family: lovelo-black;
}

@font-face {
    src: url(/fonts/ocr-a-std/OCRAStd.otf);
    font-family: ocra;
}

h1, h2, h3, p {
    color: white;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

h1 h2 p {
    font-family: 'ocra', sans-serif;
}

header {
    background-color: #0b0b0d;
    border: solid 1px #707070;
    display: grid;
    grid-template-columns: 1fr 0.2fr 2fr 0fr 5fr;
    position: relative;
}

body {
    background-color: #16161a;
}

.logo {
    grid-row: 1;
    grid-column: 1;
}

#img-logo {
    height: auto;
    width: 150px;
}

.slogan {
    font-family: 'ocra', sans-serif;
    max-width: 150px;
    font-size: 0.8em;
    grid-column: 2;
    margin-left: 1em;
    margin-top: -20%;
}

.search {
    display: flex;
    flex-direction: row;
    grid-column: 2;
    margin-left: 1em;
    margin-top: 10%;
}

#search-bar {
    max-width: 100px;
    height: 1.5em;
}

.social-media {
    grid-column: 5/5;
    grid-row: 1/2;
}

#media-icon {
    height: auto;
    width: 15px;
    margin: 0.3em;
}

li {
    display: inline-block;
}

#hamburger-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#search-text {
    font-family: 'open-sans', sans-serif;
    color: white;
    margin-right: 1em;
}

.cart {
    grid-row: 1;
    grid-column: 5/5;
    margin-top: 50%;
    margin-left: 4em;
}

/*mobile hamburger menue hide/show*/

nav {
    display: none;
}

#hamburger-menu {
    display: none;
}

#hamburger-menu:checked ~ #nav-checked {
    display: flex;
    margin-bottom: 0.5em;
    font-size: 1.5em;
    margin-top: 2em;
    margin-left: -50%;
}

.item {
    font-family: 'open-sans', sans-serif;
}

.item:hover {
    text-decoration: underline white;
}

@media (min-width: 800px) {#hamburger-icon {
    display: none;
}

#img-logo {
    height: auto;
    width: 220px;
}
.nav-placement {
    grid-row: 1/2;
    grid-column: 3/6;
}
/* .slogan-search-wrap {
    display: block;
} */
nav {
    display: flex;
    font-size: 1em;
}
.slogan {
    grid-column: 1;
    grid-row: 1;
}
.search {
    display: inline;
    grid-column: 2;
    grid-row: 1;
}}

@media (max-width: 800px) {.cart {
    display: none;
}
.item {
    border: solid 1px #707070;
    background-color: #525255;
    margin-bottom: 0.5em;
    min-width: 110px;
}
#nav-list {
    position: absolute;
    margin-top: 10%;
    margin-left: 30%;
    padding: 1em;
    max-width: 180px;
}}