:root {
    --clr-primary: #16161a;
    --clr-primary-dark: #0b0b0d;
    --clr-grey: #707070;
    --clr-green: #3fa535;
    --clr-lightgreen: #BDDBC7;
}

@font-face {
    font-family: 'open-sans', sans-serif, 'Source Code Pro', monospace ; 
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
}

@font-face {
    src: url(/fonts/lovelo/Lovelo-Black.otf);
    font-family: lovelo-black;
}

@font-face {
    src: url(/fonts/ocr-a-std/OCRAStd.otf);
    font-family: ocra;
}

h1, h2, h3, p {
    color: white;
}

h1 h2 p {
    font-family: 'ocra', sans-serif;
}

header {
    background-color: var(--clr-primary-dark);
    border: solid 1px var(--clr-grey);
}

body {
    background-color: var(--clr-primary);
}