*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #16161a;
}

header {
    background-color: #0b0b0d;
    border: solid 1px #707070;
}

a {
    text-decoration: none;
    color: white;
}
nav {
    display: none;
}

.item:hover {
    text-decoration: underline;
}

#hamburger-menue:checked ~ nav {
    display: block;
}

#hamburger-menue {
    display: none;
}

.hide_show-hamburger {
    margin-left: 95%;
}

#navigation-list {
    margin-left: 80%;
}

ul {
    list-style-type: none;
    
}

#navigation-list > li {
    margin: 1rem 1rem 1rem 0rem;
}

li {
    background-color: #525255;
    font-size: 2rem;
}

@media (min-width: 600px) {nav {
    display: none;
}}

@media (min-width: 600px) {.hide_show-hamburger {
    display: none;
}}