*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    background-color: #0b0b0d;
    border: solid 1px #707070;
}

a {
    text-decoration: none;
    color: white;
}
nav {
    display: none;
}

.item2:hover, .item:hover {
    text-decoration: underline;
}

#hamburger-menue:checked ~ nav {
    display: block;
}

#hamburger-menue {
    display: none;
}

.hide_show-hamburger {
    margin-left: 95%;
}

#vertical-list {
    margin-left: 70%;
}

ul {
    list-style-type: none;
    
}

#vertical-list > li {
    margin: 1.5rem 1rem 1rem 0rem;
}

li + .item2 {
    background-color: #525255;
    font-size: 2rem;
}

#show-horizontal-list li {
    background-color: #0B0B0D;
    display: inline;
    margin: 0.5rem;
    font-size: 1.5rem;
}

.header-elements {
    display: flex;
    justify-content: space-between space-around;
}

#media-icons {
    display: flex;
    flex-direction: row;
}

#icon {
    margin: 1rem;
}

@media (min-width: 600px) {.hide_show-hamburger {
    display: none;
}}

@media (min-width: 600px) {#show-horizontal-list {
    display: block;
}}

@media (max-width: 600px) {.cart-button {
    display: none;
}}


/*testcode/*/
