*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

@font-face {
    font-family: 'open-sans', sans-serif, 'Source Code Pro', monospace ; 
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
}

@font-face {
    src: url(/fonts/lovelo/Lovelo-Black.otf);
    font-family: lovelo-black;
}

@font-face {
    src: url(/fonts/ocr-a-std/OCRAStd.otf);
    font-family: ocra;
}

h1, h2, h3, p {
    color: white;
}

h1 h2 p {
    font-family: 'ocra', sans-serif;
}

body {
    background-color: #16161a;
    font-family:'open-sans'
}

/*Homepage/*/
.box-wrapper {
    display: flex;
    height: 759px;
    flex-direction: column;
}

.welcomebox_one {
    background-image: url(../images/half-open-laptop.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 890px;
    min-width: 350px;
    min-height: 500px;
    flex-grow: 2;
}

.welcomebox_two {
    background-image: linear-gradient(#16161A,#707070);
    flex-grow: 4;
    min-height: 500px;
    min-width: 250px;
    margin-left: 3%;
    margin-right: 3%;
}

.welcometext {
    margin:10px 60px; 
    font-size: 20px;
    text-align: center left;
}

.online-players {
    font-size: 3rem;
    margin: 8%;
    text-align: center;
    font-family: 'lovelo', arial;
}
.button-homepage1, .button-homepage2 {
    background-color: #16161A;
    border: solid 2px white;
    width: 10%;
    height: 5%;
    padding: 2% 4%;
    font-size: 1.5rem;
    margin: 5%;
    font-family: lovelo-black;
}

.center-buttons {
 text-align: center;
 position: relative;
 top: auto;
}

#welcome, #justplay {
    color: #BDDBC7;
}

.download-app {
    font-size: 1.5rem;
    margin-top: 2rem;
}

#justplay {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    
}

#icon-googleplay {
    margin-left: 6em;
    margin-top: -1em;
}

.download-options {
    display: flex;
}

.icon-mac-windows {
    margin: 3em;
}

@media (min-width: 800px) {.button-homepage1 .button-homepage2 {
    width: 5%;
    height: 2%;
    font-size: 15px;
}

.box-wrapper {
    flex-direction: row;}

#icon-googleplay {
    display: none;
    }}

@media (max-width: 800px) {.icon-windows, .icon-mac {
        display: none;
        }}
/* about page */

#about-h1 {
    margin: 2em 0 1em 1em;
}

.about-box-wrap {
    display: flex;
    background-color: #0B0B0D;
    margin: 1em;
}

.about-text {
    font-family: 'ocra', serif;
    margin: 1em 2em 0em 1em;
    flex-direction: column;
    max-width: 650px;
    display: flex;
}

#p-about {
    margin: 5px;
    margin-top: 1em;
}

.about-contact-info {
    font-family: 'open-sans', sans-serif;
    padding: 1em 0 1em 0em;
    margin-top: 1em;
}

.phone-img {
    height: auto;
    width: 100%;
}

@media (max-width: 850px) {.about-box-wrap {
    flex-direction: column;
}}


