*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'open-sans', sans-serif; /*Add lovelo and figure out how to apply costum font/*/
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
}

h1, h2, h3, p {
    color: white;
}

header {
    background-color: #0b0b0d;
    border: solid 1px #707070;
}

a {
    text-decoration: none;
    color: white;
}
/*Horizontal- and hamburger menu/*/
nav {
    display: none;
}

.item2:hover, .item:hover {
    text-decoration: underline;
}

#hamburger-menue:checked ~ nav {
    display: block;
}

#hamburger-menue {
    display: none;
}

.hide_show-hamburger {
    margin-left: 95%;
}

#hamburger-icon {
    margin-top: -100%;
}

#vertical-list {
    margin-left: 70%;
}

ul {
    list-style-type: none;
    
}

#vertical-list > li {
    margin: 0em 0.5em 0.5em 0em;
}

li + .item2 {
    background-color: #525255;
    font-size: 2em;
    border: solid 1px #707070;
}

#show-horizontal-list li {
    background-color: #0B0B0D;
    display: inline;
    margin: 0.5em;
    font-size: 1.5em;
}

@media (min-width: 600px) {.hide_show-hamburger {
    display: none;
}}

@media (min-width: 600px) {#show-horizontal-list {
    display: block;
}}

@media (max-width: 600px) {.cart-button {
    display: none;
}}

/*Header layout/*/
.header-elements {
    display: flex;
    align-items:center;
}

.topnav-icons-search-wrap {
    display: flex;
    align-items: center;
}

#media-icons {
    display: flex;
    flex-direction: row;
    margin-top: -35%;
}

#media-icon {
    margin-left: 1em;
    height: auto;
    width: 1.5em;
}

.slogan, p {
    font-size: 1.1em;
    color: white;
    display: inline-block;
}

.logo-wrap {
    display: flex;
    flex-direction: column;
}
#gamehub-logo{
    width: 100%;
    height: auto;
    min-width: 200px;
    border: solid springgreen;
}

.wrap-search-slogan {
    align-self: flex-end;
    margin-left: 1em;
}
/*header ends/*/

.box-wrapper {
    display: flex;
    height: 759px;
    flex-direction: column;
}

@media (min-width: 600px) {.box-wrapper {flex-direction: row;}}

.welcomebox_one {
    background-image: url(../images/pexels-photo-2047905.png); /*try crop bottom of pic away/*/
    background-repeat: no-repeat;
    background-size: 100% 100%; /*Is there a bether way to do this? (responsive bg pic) /*/
    max-width: 890px;
    min-width: 350px;
    min-height: 500px;
    flex-grow: 2;
    border: solid 2px rgb(202, 146, 207);
}

.welcomebox_two {
    background-image: linear-gradient(#16161A,#707070);
    flex-grow: 4;
    min-height: 500px; /*Why is box2 shorter than box1 /*/
    min-width: 250px;
    margin-left: 3%;
    margin-right: 3%;
    border: solid 2px rgb(202, 146, 207);
}

/*@media (min-width: 600px) {.welcomebox_two {margin: 0;}} this dont work as intended/*/

.welcometext {
    margin:10px 60px; 
    font-size: 20px;
    text-align: center left;/*Find a way to have text centered AND on the left consistently/*/
    border: solid 1px rgb(147, 233, 67);
}

.online-players {
    font-size: 3rem;
    margin: 8%;
    text-align: center;
    border: solid 1px rgb(147, 233, 67);
}
.button-homepage1, .button-homepage2 { /*merge into one button class/*/
    background-color: #16161A;
    border: solid 2px white;
    width: 10%;
    height: 5%;
    padding: 2% 4%;
    font-size: 1.5rem;
    margin: 5%;
}

.center-buttons {
 border: solid 1px white;
 text-align: center;
 position: relative;
 top: auto;
}

@media (min-width: 600px) {.button-homepage1 .button-homepage2 {
width: 5%;
height: 2%;
font-size: 15px;
}}




/*
  body {
    background-color: #16161a;
    font-family:'open-sans'
}

header {
    background-color: #0b0b0d;
    border: solid 1px #707070;
    margin-top: 0.3%;
}

.navigation-container {
    border: solid white 1px;
    display: flex;
    flex-direction: row;
    max-height: 10rem;
    align-items: center;
}

.slogan {
    font-family: 'open-sans' sans-serif;
    flex-grow: 1;
    margin-left: 1rem;
    margin-top: 2rem;
    margin-right: 1rem;
}
.logo {
    max-height: auto;
    max-width: 200px;
    flex-grow: 1;
}

nav {
    border: rgb(71, 132, 143) solid 1px;
    padding-top: 1rem;
    flex-grow: 1;
}

#navigation-list {
    margin-bottom: 4rem;
}

.search {
    width: 1.5%;
    align-self: flex-end;
    flex: 2;
    margin-bottom: 0.5rem;
    flex-grow: 1;
}

#media-icons {
    display: flex;
    flex-direction: row;
}

.social-media {
    margin-bottom: 4rem;
}

#icon {
    margin: 1rem;
    flex-grow: 1;
}
ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin: 0px;
}
nav li:hover {
    font-weight:bolder;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
/*/